<!DOCTYPE html>
<html lang="en">
    <head>

    <!--Amandine font-->
    <link rel="stylesheet" href="https://use.typekit.net/ohq3ecp.css">
    
    <!-- gridlex -->

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/gridlex/2.7.1/gridlex.min.css">



    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/style.css" />
    <title>{{page.title}}</title>
    </head>

    <body>
        <!---Nav Bar-->
        <header class="flex justify-between grid-middle light-bg">
            <div class="grow flex gap-8 col-2 a-logo tall-10">
                <a href="/index.html"> 
                </a>
            </div>
            <div class="right col-10 nav-padded">
                <a href="#" class="nav-padded"> Home </a>
                <a href="#" class="nav-padded"> Projects </a>
                <a href="#" class="nav-padded"> Resume </a>
            </div>
        </header>

        {{content}}

        <!-- footer -->
        <footer class="dark-bg light-text flex justify-around grid-middle">
                <nav class="right col-4">
                  <a href="#" class="nav-padded"> Home </a>
                  <a href="#" class="nav-padded"> Projects </a>
                </nav>
                <div class="centered col-4 logo-white tall-10">
                  <a href="/index.html"></a>
                </div>
                <nav class="col-4">
                  <a href="#" class="nav-padded"> Resume </a>
                  <a href="#" class="nav-padded"> LinkedIn </a>
                </nav>
            <div class="col-12 centered">
                <p>COPYRIGHT © Anissa Lassek</p>
                <p>Site design & code by Anissa Lassek</p>
            </div>
        </footer>
    

    </body>
</html>